.page-data div[style] {
    background-color: transparent !important;
    color: white !important;
    background-image: none !important;
}

.page-data blockquote::before, .page-data .blockquote::before {
    position: absolute;
    content: "";
    top: auto;
    bottom: 13px;
    right: -7px;
    transform: rotate(-45deg);
    width: 40px;
    height: 2px;
    z-index: 100;
    background-color: rgb(70, 70, 70);
}
.page-data blockquote, .page-data .blockquote {
    background-color: #7979792e !important;
    border: solid rgb(70, 70, 70) 1px;
    border-width: thin;
    padding: 15px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 1.9rem + 2px),
        calc(100% - 1.9rem + 2px) 100%,
        0 100%
      );
      clear: both;
      margin-bottom: 10px;
}

.page-data ul {
    margin: 0;
}

.scp-image-block.block-right {
    float: right;
    clear: right;
}

.page-data {
    background-color: #3333338a;
    padding: 15px;
    margin: 15px;
    white-space: normal;
}

.page-data::after {
    content: "";
    display: table;
    clear: both;
}

.page-data .image, .image-container .image {
    clear: both;
    text-align: center;
    background-color: #fff;
    max-width: 80%;
    margin: 15px auto;
}

.scp-image-caption {
    text-align: center;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
    margin: 0 auto 15px;
}

.scp-image-caption[style] {
    width: auto !important;
}

.scp-image-block {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 15px;
    width: 300px;
    text-align: center;
    outline: 1px solid #545454;
    outline-offset: -6px;
}

.scp-image-block.block-center {
    margin-right: auto;
    margin-left: auto;
}

.scp-image-block.block-left {
    float: left;
    clear: left;
    margin: 0 2em 1em 0;
}

.image-container .image {
    max-width: 100% !important;
    display: block;
}

.content-panel p a, .page-data blockquote p a, .page-data a {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.scp-image-block a {
    background-color: transparent !important;
}
.scp-image-block a:hover {
    background-color: transparent !important;
}
.content-panel p a:hover, .page-data blockquote p a:hover, .page-data a:hover {
    background-color: rgb(167, 167, 167);
    color: black;
}

.content-panel img {
    margin: 0 !important;
}

.footnoteref, .footnote-footer a {
    text-decoration: none;
    color: red !important;
    background-color: transparent !important;
}

.wiki-content-table, td, th, tr {
    margin-left: auto;
    margin-right: auto;
}
.wiki-content-table {
    border: none;
}
.wiki-content-table th {
    background-color: #5454548c;
}
table, td, th, tr {
    border: solid white 1px;
    padding: 10px;
}

.page-data #u-adult-warning {
    width: fit-content;
    margin: 0 auto 20px;
    padding: .5rem 1rem;
    border: solid white 3px;
    background-color: #545454;
    text-align: center;
    font-weight: bold;
}

.page-data #u-adult-warning #u-adult-header {
    font-size: 300%;
    color: red;
}

.meta-title {
    display: none;
}

.anon-bar-container {
    width: 100%;
    display: flex;
    position: relative;
}

.anon-bar-container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.anom-bar-container, .anom-bar-container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.anom-bar {
    display: grid;
    grid-template-areas: "top-box" "bottom-box";
    width: 100%;
}

.anom-bar > .top-box {
    display: grid;
    grid-area: top-box;
    grid-template-areas: "top-left-box top-center-box top-right-box";
    width: 100%;
    grid-template-columns: auto 1fr calc(5vw + 5rem);
    grid-template-rows: 1fr;
    font-weight: 600;
    text-transform: uppercase;
    justify-items: stretch;
    padding-bottom: 1.5rem;
}

.top-box .top-left-box {
    grid-area: top-left-box;
}

.top-left-box, .top-right-box {
    clip-path: polygon( 0% -50%, 150% -50%, 150% 100%, 0% 100%);
}

.top-left-box > .item {
    font-size: calc(12px + (20 - 12) * ( (100vw - 300px) / ( 1920 - 960) ));
}

.top-left-box > .number {
    font-size: calc(25px + (50 - 25) * ( (100vw - 300px) / ( 1920 - 300) ));
}

.top-box .top-center-box {
    display: flex;
    grid-area: top-center-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 1rem;
}

.top-center-box > div {
    background-color: rgb(0,0,0);
    height: 0.5rem;
    width: 100%;
    margin: 0.125rem;
    display: none;
}

.anom-bar-container.clear-1 .top-center-box > .bar-one, .anom-bar-container.clear-2 .top-center-box > .bar-one, .anom-bar-container.clear-3 .top-center-box > .bar-one, .anom-bar-container.clear-4 .top-center-box > .bar-one, .anom-bar-container.clear-5 .top-center-box > .bar-one, .anom-bar-container.clear-6 .top-center-box > .bar-one {
    display: block;
}
.anom-bar-container.clear-2 .top-center-box > .bar-two, .anom-bar-container.clear-3 .top-center-box > .bar-two, .anom-bar-container.clear-4 .top-center-box > .bar-two, .anom-bar-container.clear-5 .top-center-box > .bar-two, .anom-bar-container.clear-6 .top-center-box > .bar-two {
    display: block;
}
.anom-bar-container.clear-3 .top-center-box > .bar-three, .anom-bar-container.clear-4 .top-center-box > .bar-three, .anom-bar-container.clear-5 .top-center-box > .bar-three, .anom-bar-container.clear-6 .top-center-box > .bar-three {
    display: block;
}
.anom-bar-container.clear-4 .top-center-box > .bar-four, .anom-bar-container.clear-5 .top-center-box > .bar-four, .anom-bar-container.clear-6 .top-center-box > .bar-four {
    display: block;
}
.anom-bar-container.clear-5 .top-center-box > .bar-five, .anom-bar-container.clear-6 .top-center-box > .bar-five {
    display: block;
}

.anom-bar-container.clear-1 .top-center-box > div {
    background-color: rgb(0,159,107);
}
.anom-bar-container.clear-2 .top-center-box > div {
    background-color: rgb(0,135,189);
}
.anom-bar-container.clear-3 .top-center-box > div {
    background-color: rgb(255,211,0);
}
.anom-bar-container.clear-5 .top-center-box > div {
    background-color: rgb(196,2,51);
}

.top-box .top-right-box {
    display: grid;
    grid-area: top-right-box;
    grid-template-areas: "level" "clearance";
    grid-template-rows: repeat(2, 1fr);
}

.top-right-box > .level {
    display: flex;
    align-items: flex-end;
    grid-area: level;
    font-size: 2.5rem;
    line-height: 0.5;
}

.top-right-box > .clearance::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.anom-bar-container.clear-1 .top-right-box > .clearance::before {
    content: "Unrestricted";
}
.anom-bar-container.clear-2 .top-right-box > .clearance::before {
    content: "Restricted";
}
.anom-bar-container.clear-3 .top-right-box > .clearance::before {
    content: "Confidential";
}
.top-right-box .clearance {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: clearance;
    font-size: calc(12px + (15 - 12) * ( (100vw - 400px) / ( 1920 - 960) ));
    line-height: 1.5;
    white-space: nowrap;
}

.anom-bar > .bottom-box::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 0.5rem;
    background-color: rgb(255, 255, 255);
    transform: translateY(-0.74rem);
}
.bottom-box {
    display: grid;
    grid-area: bottom-box;
    grid-template-areas: "text-part diamond-part" "text-part diamond-part";
    grid-template-columns: 1fr 6rem;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
    height: 6rem;
    font-weight: 600;
    margin-top: -0.5rem;
    padding-top: 0.25rem;
}

.bottom-box .text-part {
    display: grid;
    height: 6rem;
    grid-area: text-part;
    grid-template-areas: "main-class disrupt-class" "main-class risk-class";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr;
    grid-gap: 0.25rem;
    text-transform: uppercase;
    justify-content: stretch;
    align-items: stretch;
}

.anom-bar-container.safe .text-part .main-class, .anom-bar-container.dark .text-part .disrupt-class, .anom-bar-container.notice .text-part .risk-class {
    background-color: rgba(0,159,107,0.15);
    border-left: 0.5rem solid rgba(0,159,107,1);
}
.anom-bar-container.euclid .text-part .main-class, .anom-bar-container.keneq .text-part .disrupt-class, .anom-bar-container.warning .text-part .risk-class {
    border-left: 0.5rem solid rgba(255,211,0,1);
    background-color: rgba(255,211,0,0.15);
}
.anom-bar-container:not(.esoteric) .text-part > .main-class {
    padding-right: 3.5rem;
}

.anom-bar-container.safe .text-part > .main-class::before {
    background-color: rgb(0,159,107);
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/safe-icon.svg);
}
.anom-bar-container.euclid .text-part > .main-class::before {
    background-color: rgb(255,211,0);
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/euclid-icon.svg);
}
.text-part > .main-class::before {
    content: "";
    position: absolute;
    top: calc(50% - 2.25rem);
    right: 0.5rem;
    width: 3.53125rem;
    height: 3.53125rem;
    border-radius: 50%;
    border: 0.25rem solid rgb(12, 12, 12);
    background-color: rgb(252, 252, 252);
    background-size: contain;
    background-position: center center;
}
.text-part .main-class {
    border-width: 1em !important;
    position: relative;
    grid-area: main-class;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0.25rem 0 0 0 rgb(0 0 0 / 0%);
}
.text-part  * {
    clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.text-part div {
    padding: 0 0.125rem;
    margin: 0 0 0 0.25rem;
    position: relative;
}

.text-part > .main-class > div {
    width: 100%;
    display: flex;
}

.text-part .contain-class, .text-part .second-class, .text-part .disrupt-class, .text-part .risk-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    line-height: 1;
}

.text-part .contain-class > div, .text-part .second-class > div, .text-part .disrupt-class > div, .text-part .risk-class > div {
    width: 100%;
}

.text-part > div .class-category {
    position: relative;
    font-weight: 500;
    left: 0;
}

.anom-bar-container:not(.esoteric) .text-part > .main-class > .contain-class > .class-text {
    font-size: calc(10px + (18 - 10) * ( (100vw - 400px) / ( 800 - 400) ));
}

.anom-bar-container:not(.esoteric) .text-part > .main-class > .second-class {
    display: none;
}

.text-part > .disrupt-class, .text-part > .risk-class {
    overflow: hidden;
}
.text-part > .disrupt-class {
    grid-area: disrupt-class;
}

.anom-bar-container.keneq .text-part .disrupt-class::before, .anom-bar-container.warning .text-part .risk-class::before {
    content: "3";
}

.anom-bar-container.dark .text-part .disrupt-class::before, .anom-bar-container.notice .text-part .risk-class::before {
    content: "1";
}
.anom-bar-container.vlam .text-part .disrupt-class::before, .anom-bar-container.caution .text-part .risk-class::before {
    content: "2";
}

.text-part .disrupt-class::before, .text-part .risk-class::before {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(12, 12, 12) !important;
    width: 3rem;
    height: 3rem;
    top: calc(50% - 1.5rem);
    border: 0;
    right: 1rem;
    text-align: left;
    font-size: 1em;
    padding-left: 0.5rem;
    color: rgb(252, 252, 252);
}
.text-part .disrupt-class::after, .text-part .risk-class::after, .text-part .disrupt-class::before, .text-part .risk-class::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.25rem solid rgb(12, 12, 12);
    width: 2.5rem;
    height: 2.5rem;
    top: calc(50% - 1.5rem);
    font-size: 2em;
    background-color: rgb(252, 252, 252);
    background-size: contain;
    background-position: center center;
}

.anom-bar-container.dark .text-part .disrupt-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/dark-icon.svg);
}

.anom-bar-container.dark .text-part .disrupt-class::after, .anom-bar-container.notice .text-part .risk-class::after {
    background-color: rgb(0,159,107);
}

.text-part .disrupt-class::after, .text-part .risk-class::after {
    right: 0.15em;
}
.text-part .disrupt-class::after, .text-part .risk-class::after, .text-part .disrupt-class::before, .text-part .risk-class::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.25rem solid rgb(12, 12, 12);
    width: 2.5rem;
    height: 2.5rem;
    top: calc(50% - 1.5rem);
    font-size: 2em;
    background-color: rgb(252, 252, 252);
    background-size: contain;
    background-position: center center;
}

.anom-bar-container.notice .text-part .risk-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/notice-icon.svg);
}

.bottom-box > .diamond-part {
    width: 100%;
    padding-top: 100%;
    display: flex;
    position: relative;
    grid-area: diamond-part;
    padding-left: 1rem;
    box-shadow: -0.5rem 0 0 0 rgb(255, 255, 255);
}
div.diamond-part {
    clip-path: polygon( -10% 0.37%, 120% 0.37%, 120% 100%, -10% 100%);
    will-change: box-shadow;
}

.danger-diamond {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 5%;
}

.danger-diamond a {
    color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: transparent !important;
}

.danger-diamond br {
    display: none;
}

.danger-diamond > .arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(12, 12, 12);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 160 160' xml:space='preserve'%3E%3Cpath fill='%23010101' d='M136.1,133.3l23.9-23.9V51.2l-24-24l19.1-19.1l4.9,4.9l0-12.9l-12.9,0l4.9,4.9L133,24.2l-24-24H51l-24,24 L8,5.2l4.9-4.9L0,0.2l0,12.9l4.9-4.9L24,27.3l-24,24v58.2l23.9,23.9l-19,19L0,147.3l0,12.9l12.9,0L8,155.3l19-19l23.9,23.9h58.4 l23.9-23.9l19,19l-4.9,4.9l12.9,0l0-12.9l-4.9,4.9L136.1,133.3z M155.7,53v54.6l-22.6,22.6l-50-50L133,30.3L155.7,53z M52.8,4.5 h54.4l22.7,22.7L80,77.2L30.1,27.3L52.8,4.5z M4.3,107.6V53L27,30.3L77,80.2l-50,50L4.3,107.6z M107.4,155.9H52.6L30,133.3l50-50 l50,50L107.4,155.9z'/%3E%3C/svg%3E%0A");
}

.danger-diamond > .octagon {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 0;
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}
.danger-diamond > .quadrants {
    position: absolute;
    width: 96%;
    height: 96%;
    top: 0;
    left: 0;
}
.anom-bar-container.safe .danger-diamond > .quadrants > .top-quad, .anom-bar-container.dark .danger-diamond > .quadrants > .left-quad, .anom-bar-container.notice .danger-diamond > .quadrants > .right-quad {
    background-color: rgba(0,159,107,0.25);
}
.anom-bar-container.euclid .danger-diamond > .quadrants > .top-quad, .anom-bar-container.keneq .danger-diamond > .quadrants > .left-quad, .anom-bar-container.warning .danger-diamond > .quadrants > .right-quad {
    background-color: rgba(255,211,0,0.25);
}

.danger-diamond > .quadrants > div {
    width: 67.5%;
    padding-bottom: 50%;
    position: absolute;
    top: 2.25%;
    left: 18.5%;
    background-color: rgba(255, 255, 255, 0);
    clip-path: polygon(22% 0, 77% 0, 100% 31%, 50% 100%, 0 31%);
    transform-origin: bottom center;
}
.danger-diamond > .quadrants > .right-quad {
    transform: rotate(90deg);
}
.danger-diamond > .quadrants > .left-quad {
    transform: rotate(270deg);
}
.danger-diamond > .quadrants > .bottom-quad {
    transform: rotate(180deg);
}
.danger-diamond > .top-icon {
    top: 0.25rem;
    left: 33.5%;
}
.danger-diamond > .right-icon {
    right: 0.25rem;
    top: 33.5%;
}
.danger-diamond > .left-icon {
    left: 0.25rem;
    top: 33.5%;
}
.anom-bar-container:not(.esoteric) .danger-diamond > .bottom-icon {
    display: none;
}
.danger-diamond > .bottom-icon {
    bottom: 0.25rem;
    left: 33.5%;
}
.danger-diamond > .top-icon, .danger-diamond > .right-icon, .danger-diamond > .left-icon, .danger-diamond > .bottom-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 33%;
    border-radius: 50%;
    border: 0.1875rem solid rgb(12, 12, 12);
    overflow: hidden;
    z-index: 2;
}
.danger-diamond > .top-icon::before, .danger-diamond > .right-icon::before, .danger-diamond > .left-icon::before, .danger-diamond > .bottom-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.anom-bar-container.safe .danger-diamond > .top-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/safe-icon.svg);
}
.anom-bar-container.euclid .danger-diamond > .top-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/euclid-icon.svg);
}

.anom-bar-container.notice .danger-diamond > .right-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/notice-icon.svg);
}
.anom-bar-container.caution .danger-diamond > .right-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/caution-icon.svg);
}

.anom-bar-container.vlam .danger-diamond > .left-icon::before, .anom-bar-container.caution .danger-diamond > .right-icon::before {
    background-color: rgb(0,135,189);
}
.anom-bar-container.euclid .danger-diamond > .top-icon::before, .anom-bar-container.keneq .danger-diamond > .left-icon::before, .anom-bar-container.warning .danger-diamond > .right-icon::before {
    background-color: rgb(255,211,0);
}
.anom-bar-container.dark .danger-diamond > .left-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/dark-icon.svg);
}

.anom-bar-container.vlam .text-part .disrupt-class, .anom-bar-container.caution .text-part .risk-class {
    border-left: 0.5rem solid rgba(0,135,189,1);
    background-color: rgba(0,135,189,0.15);
}
.anom-bar-container.keneq .text-part .disrupt-class::after, .anom-bar-container.warning .text-part .risk-class::after {
    background-color: rgb(255,211,0);
}
.anom-bar-container.vlam .text-part .disrupt-class::after, .anom-bar-container.caution .text-part .risk-class::after {
    background-color: rgb(0,135,189);
}
.anom-bar-container.vlam .danger-diamond > .quadrants > .left-quad, .anom-bar-container.caution .danger-diamond > .quadrants > .right-quad {
    background-color: rgba(0,135,189,0.25);
}
.anom-bar-container.keneq .text-part .disrupt-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/keneq-icon.svg);
}
.anom-bar-container.caution .text-part .risk-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/caution-icon.svg);
}
.anom-bar-container.keneq .danger-diamond > .left-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/keneq-icon.svg);
}
.anom-bar-container.vlam .text-part .disrupt-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/vlam-icon.svg);
}
.anom-bar-container.warning .text-part .risk-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/warning-icon.svg);
}
.anom-bar-container.warning .danger-diamond > .right-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/warning-icon.svg);
}
.anom-bar-container.vlam .danger-diamond > .left-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/vlam-icon.svg);
}
.anom-bar-container.esoteric .text-part > .main-class {
    padding-right: 2rem;
}
.anom-bar-container.esoteric .text-part .main-class {
    background-color: rgba(232, 232, 255, 0.15);
    border-left: 0.75rem solid rgb(255, 255, 255);
}
.anom-bar-container.esoteric .text-part > .main-class::before {
    top: 0.5rem;
    right: 1.25rem;
    width: 5rem;
    border-radius: calc(3.53125rem / 2);
    background-color: rgb(252, 252, 252);
    filter: invert(1);
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/esoteric-icon.svg);
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: left -10px center;
}
.anom-bar-container.thaumiel .text-part > .main-class::after {
    background-image: url(http://scp-wiki.wdfiles.com/local--files/component%3Aanomaly-class-bar/thaumiel-icon.svg);
}
.anom-bar-container.esoteric .text-part > .main-class::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
    width: 3.53125rem;
    height: 3.53125rem;
    border-radius: 50%;
    border: 0.25rem solid rgb(255, 255, 255);
    background-color: rgb(199, 199, 199);
    background-size: contain;
    background-position: center center;
}
.anom-bar-container.esoteric .text-part > .main-class > .second-class > .class-text {
    font-size: -webkit-calc( 6px + (11 - 6) * ( (100vw - 400px) / ( 800 - 400) ));
    font-size: -moz-calc( 6px + (11 - 6) * ( (100vw - 400px) / ( 800 - 400) ));
    font-size: calc( 6px + (11 - 6) * ( (100vw - 400px) / ( 800 - 400) ));
    position: relative;
}
.anom-bar-container.esoteric .danger-diamond > .quadrants > .top-quad {
    background-color: rgb(255 255 255 / 26%);
}
.anom-bar-container.esoteric .danger-diamond > .top-icon::before {
    background-color: rgb(252, 252, 252);
    background-color: rgb(var(--swatch-background, 252, 252, 252));
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/esoteric-icon.svg);
    -webkit-filter: invert(1);
    filter: invert(1);
}
.anom-bar-container.esoteric .danger-diamond > .top-icon::before {
    background-color: rgb(252, 252, 252);
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/esoteric-icon.svg);
    filter: invert(1);
}
.anom-bar-container.thaumiel .danger-diamond > .bottom-icon::before {
    background-image: url(http://scp-wiki.wdfiles.com/local--files/component%3Aanomaly-class-bar/thaumiel-icon.svg);
    background-size: contain;
}
.anom-bar-container.esoteric .danger-diamond > .quadrants > .bottom-quad {
    background-color: rgb(255 255 255 / 26%);
}
.anom-bar-container.danger .text-part .risk-class::after {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/danger-icon.svg);
}
.anom-bar-container.ekhi .text-part .disrupt-class, .anom-bar-container.danger .text-part .risk-class {
    background-color: rgba(255,109,0,0.15);
    border-left: 0.5rem solid rgba(255,109,0,1);
}
.anom-bar-container.ekhi .text-part .disrupt-class::before, .anom-bar-container.danger .text-part .risk-class::before {
    content: "4";
}
.anom-bar-container.ekhi .danger-diamond > .quadrants > .left-quad, .anom-bar-container.danger .danger-diamond > .quadrants > .right-quad {
    background-color: rgba(255,109,0,0.25);
}
.anom-bar-container.danger .danger-diamond > .right-icon::before {
    background-image: url(https://scp-wiki.wikidot.com/local--files/component:anomaly-class-bar/danger-icon.svg);
}
.anom-bar-container.ekhi .danger-diamond > .left-icon::before, .anom-bar-container.danger .danger-diamond > .right-icon::before {
    background-color: rgb(255,109,0);
}
.anom-bar-container.ekhi .text-part .disrupt-class::after, .anom-bar-container.danger .text-part .risk-class::after {
    background-color: rgb(255,109,0);
}
.anom-bar-container.clear-4 .top-center-box > div {
    background-color: rgb(255,109,0);
}

/**/
div.scale {
    width: fit-content;
    max-width: 98vw;
    margin: 0 auto;
    padding: 1em 0;
    border: none;
    display: grid;
    grid-template-areas: "class classimage item";
    grid-template-columns: 1.25fr auto 1.9fr;
    grid-template-rows: minmax(3em,5em);
    align-items: stretch;
    justify-content: center;
    font-size: clamp(0.4845rem, 0.1609rem + 1.6179vw, 0.9375rem);
}
div.class1 {
    grid-area: class;
    white-space: nowrap;
    padding-right: 1em;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "."
        "leveltxt"
        "classtxt"
        ".";
    grid-template-rows: auto min-content min-content auto;
}
div.class1>div {
    font-size: 2.90em;
    line-height: 0.9em;
}
div.level-text {
    grid-area: leveltxt;
}
div.class1 .false:nth-of-type(1) {
    display: none !important;
}
div.class1 .base:nth-of-type(1) {
    display: none;
}
div.class1 .false:nth-of-type(2) {
    display: inline !important;
}
div.class1 .base:nth-of-type(2) {
    display: inline;
}
div.class-text {
    grid-area: classtxt;
}
div.class1image {
    display: flex;
    grid-area: classimage;
    align-items: center;
    overflow: hidden;
    margin: 0 0.6em 0 0;
    padding-right: 0.6em;
}
div.classified-bar {
    position: relative;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='classified-bar' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 50' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='5,50 0,50 5,25 0,0 5,0 10,25 '/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='classified-bar' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 50' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='5,50 0,50 5,25 0,0 5,0 10,25 '/%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    display: none;
    width: 0;
    min-width: 1em;
    height: calc(100% - 0.5em);
}
div.class1image div.classified-bar:nth-of-type(1) {
    background-color: rgba(12,12,12,0.1);
}
div.class1image div.classified-bar:nth-of-type(3) {
    background-color: rgba(12,12,12,0.3);
}
div.class1image div.classified-bar:nth-of-type(5) {
    background-color: rgba(12,12,12,0.55);
}
div.class1image div.classified-bar:nth-of-type(7) {
    background-color: rgba(12,12,12,0.75);
}
div.class1image div.classified-bar:nth-of-type(9) {
    background-color: rgba(12,12,12,1);
}
div.class1image div.classified-bar:nth-of-type(11) {
    background-color: rgba(140,25,26,1);
}
div.class1image[data-level="lv2"] div:nth-child(-n+4) {
    display: inline-block;
}
div.class1image[data-level="lv2"] div:nth-child(-n+4) {
    display: inline-block;
}
div.image-space {
    margin-left: -0.35em;
    display: none;
}
div.item1 {
    grid-area: item;
    white-space: nowrap;
    text-align: right;
    display: grid;
    grid-template-areas:
        "."
        "itemnum"
        "objclass"
        ".";
    grid-template-rows: auto min-content min-content auto;
}
div.item1 > div {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

div.itemnum {
    grid-area: itemnum;
}
div.objclass {
    grid-area: objclass;
    position: relative;
    flex-grow: 2 !important;
    display: flex;
    align-items: center;
}
div.scale[class*="euclid" i] div.objclass::before {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Euclid' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 144 144' overflow='visible' xml:space='preserve'%3E%3Cpath d='M72,0C32.24,0,0,32.24,0,72c0,39.76,32.24,72,72,72c39.76,0,72-32.24,72-72C144,32.24,111.76,0,72,0z M97.8,36.17 l-13.7,13.7v-9.5c0,0,0-0.1,0-0.2l11.7-11.7C97.21,30.72,97.89,33.4,97.8,36.17z M84.2,21.87c2.5,0,4.8,0.6,6.8,1.8l-11.9,11.9h-9.7 l13.8-13.7H84.2z M46,39.67l17.8-17.8h9.7L46,49.37V39.67z M33.7,71.37c0.64-0.26,11.37-12.33,12.3-11.7c0-0.13,0-0.56,0-0.7 l13.7-13.7v9.7l-26.4,26.4C33.4,78.99,33,73.64,33.7,71.37z M33.3,91.07l31.6-31.6h9.7l-41.3,41.3C33.3,100.5,33.3,91.35,33.3,91.07 z M35.4,108.27l62.4-62.4v9.7l-57.7,57.7C38.2,111.97,36.6,110.27,35.4,108.27z M47.2,115.77l54.8-54.8c2.1,1,3.8,2.4,5.3,4.1 l-50.8,50.8C55.51,115.87,48,115.92,47.2,115.77z M110.7,100.27l-15.5,15.6h-9.7l25.2-25.3V100.27z M110.7,80.97l-34.8,34.9h-9.7 l44.2-44.2C110.9,73.7,110.64,78.81,110.7,80.97z'/%3E%3C/svg%3E%0A");
    background-color: yellow;
}
div.scale[class*="neutral" i] div.objclass::before {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 144 144' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M119.69,18.08c-3.04,4.05-12.49,8.84-6.75,13.02c3.12-1.1-0.72,8.91,2.1,11.6c3.02,1.92,4.18,10.44,8.4,7 c-0.55,3.16,1.63,3.34-2.1,4.3c0.17,3.82,1.88,13.25,7.7,13.8c-9.63,5.41-14.33,5.63-0.6,8.3c-5.06-0.93-7.14,1.32-7.1,6.3 c6.5,17.24-21.57,4.44-9.5-6.6c-9.52,1.37-14.2,2.24-24.4-0.91c-4.07,2.31-19.63-9.36-10.5,3.8c-12.42-13.47,12.7,22.93,15.4,27.1 c1.28,2.58,8.3-7.46,5.6-8.8c1.86,1.18,12.41,6.56,9,7.3c3.93,6.1,2.86,6.21-4.5,10.7c-7.3,4.42-10.89,7.85-19.8,8.4 c-1.02-0.97-4.29-0.45-2.88,2.6c0.12,0.23,0.24,0.46,0.38,0.7c-0.15-0.25-0.28-0.48-0.38-0.7c-2.42-4.62-1.76-7.42-8.52-4.8 c-10.25-3.49-5.22,4.13-8.5,12.5c-4.22-6.05,2.88-13.15-9.4-13.9c-1.03-2.83-1.12,3.96-2.7,3.5c-3.28-1.68-3.5,1.51-4.7,3.1 c2.64-8.37-10.94-6.21-4.9-16.4c-5.75,3.27-9.74-3.05-4.3-6.2c10.03-12.94,6.98-3.29,10.5,6.2c4.27-4.88,7.8-11.88,10.8-14.9 c26.86-33.76-0.3-15.83-26.6-20.3c8.36,10.52,3.58,9.37-6,15.1c0.8-4.13-3.08-0.03-4-2c-0.47-2.61-3.68,1.24-4.9,0.6 c6.11-1.54,4.64-10.74-1.01-10.46c-0.19,0.02-0.38,0.04-0.59,0.06c0.2-0.03,0.4-0.05,0.59-0.06c8.73-0.96,3.24-5.68,2.91-11.54 c0.91,0.45,2.26,0.78,1.9-0.8c0.26-4.92,10.31,2.47,11.3-2.6c4.12-9.31-6.24-4.87-9-11.2c0.93-3.93-2.83-3.16,3.9-2.9 c2.05-0.96,9.91-2.54,6.2-5.2c21.53,13.72,8.68-3.75-1.8-12.4c-2.43-7.25,4.97,2.06,7,0.6c3.16-9.04,9.14,2.74,15.7,2.1 c-6.58-15.59,3.76-3.17,2.2-19.6c15.09-4.43,8.38,4.21,10.6,19.5c3.01,11.15,0.08-17.71,8.2-15.8c-0.37,3.91,3.28,1.81,4.6,0 c7.51,8.65,15.51-9.38,9.8,3.5c5.25,3.12,6.87,5.85,14-3c-0.7,2.8-7.57,7.28-4.8,9.5c7.64,5.6,9.27-2.05,21.21-10.32 C106.78,6.76,90.19,0,72,0C32.24,0,0,32.24,0,72c0,39.76,32.24,72,72,72c39.76,0,72-32.24,72-72 C144,50.53,134.6,31.27,119.69,18.08z'/%3E%3Cpath d='M51.65,37.4c2.5,6.93,10.35,16.99,11.8,19.1c1.61,7.26,8.56,24.87,11.2,8.3c3.42-0.15,16.36-22.33,14.51-26.1 c-14.9,4.67-8.99-5.42-11.01-18.1c-10.64-1.03-5.94,13.64-10.1,22.5c-2.38,4.74-3.93,12.64-4.4,7.8 C69.14,38.24,63.98,37.07,51.65,37.4z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: gray;
}
div.objclass::before {
    content: "";
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
}
div.obj {
    width: 100%;
    height: 1.5em;
    right: 0;
    border-radius: 0.75em;
    line-height: 1;
    background-color: rgb(129, 129, 129);
    background-size: cover;
    background-position: -0.03em;
    -webkit-mask: -webkit-radial-gradient(0.75em center, circle, transparent 0.85em, #000 -webkit-calc(0.85em + 1px) 100%) 50% 50%/100% 100% no-repeat;
    position: relative;
}
div.obj > div {
    display: block;
    width: auto;
    font-size: 1.5em;
    position: relative;
    left: 0.45em;
}
/**/
.wilson-border {
    border: 1px white solid;
}
.wilson-body {
    padding: 15px;
}
.collection {
    display: none;
}
.earthworm {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 1em 0;
    clear: both;
    z-index: 0;
    min-height: 36px;
}
.earthworm div.true {
    width: 0;
}
.earthworm .first {
    border-top: 2px rgba(150,150,150,0.5) solid;
    border-bottom: 2px rgba(150,150,150,0.5) solid;
    position: relative;
}
.earthworm > div {
    display: flex;
    align-items: center;
}
.earthworm .hub.no a, .earthworm a[href="/"] {
    color: #333;
    text-decoration: none;
    cursor: text;
    pointer-events: none;
    display: none;
}
.earthworm a {
    word-break: normal;
    color: white !important;
    background-color: transparent !important;
}
.earthworm .hub {
    margin: -3px 0;
    border: 3px rgba(150,150,150,0.5) solid;
    background: linear-gradient(
10deg
, rgba(150,150,150,0.1), rgba(150,150,150,0));
    position: relative;
    z-index: 5;
    padding: 3px;
}
.earthworm .last {
    border-top: 2px rgba(150,150,150,0.5) solid;
    border-bottom: 2px rgba(150,150,150,0.5) solid;
    position: relative;
    padding: 3px;
}
.earthworm .last:not(.true) img {
    height: 100%;
    width: auto;
    display: block;
    position: absolute;
    right: 0;
    top: -1.5px;
    border: 2.8px rgba(150,150,150,0.5) solid;
    transform: scale(0.707) rotate(
45deg
);
    border-width: 2.8px 2.8px 0 0;
    transform-origin: 100% 100%;
    display: none;
}
#u-credit-view {
    display: none;
}
#u-credit-otherwise {
    display: none;
}
.creditRate {
    display: none;
}
.authorlink-wrapper {
    display: none;
}