@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    position: relative;
}

/*font-family: 'Barlow', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Fira Code', monospace;*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0vh;
    padding: 0vh;
    overflow: hidden;
    font-family: 'Fira Code', monospace;
    /*background-color: rgba(17, 36, 39, 0.35);*/
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

/*
* TITLE BAR
*/
#titlebar {
    width: 100vw;
    height: 35px;
    -webkit-app-region: drag;
    display: flex;
    padding: 10px;
}
#titlebar-content-left, #titlebar-content-right {
    height: 35px;
    color: white;
    font-size: 20px;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}
#titlebar-content-left {
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: solid white 1px;
}
#titlebar-content-right {
    width: calc(100vw - 300px);
    margin-left: 20px;
    margin-right: 10px;
    border-bottom: solid white 1px;
}

#menu-buttons {
    width: 80px;
    -webkit-app-region: no-drag;
    display: flex;
}
#menu-buttons .titlebar-button {
    border-radius: 0 !important;
    width: 100% !important;
    height: 35px !important;
    margin: 0 20px 0 0 !important;
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
}
#file:hover, #view:hover {
    text-decoration: underline;
}

#logo {
    width: -webkit-fill-available;
    border-right: solid white 1px;
    font-size: 11px;
    text-align: left;
}
#logo img {
    float: left;
    margin-top: -3px;
}
#logo-text {
    margin-left: 45px;
}

#titlebar-buttons {
    float: left;
    height: 35px;
    display: flex;
    width: 120px;
    -webkit-app-region: no-drag;
    padding-left: 30px;
}
#titlebar .titlebar-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50px;
    margin: 0 5px 0 0;
}

#close:hover {
    background-color: red;
}
#minimize, #maximize, #close {
    border: solid 1px white;
}
#minimize:hover, #maximize:hover {
    background-color: #9b9b9b;
}

#toolbar {
    display: flex;
    padding-top: 10px;
    height: 35px;
    margin-top: 15px;
    margin-right: 15px;
    justify-content: flex-end;
}

#sidebarbutton {
    position: absolute;
    left: 0;
    top: 70px;
    width: 15px;
    height: 30px;
    background-color: white;
    border: solid 2px #8c8c8c;
    color: black;
    z-index: 100;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebarbutton:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
input[type="checkbox"]:checked ~ #sidetoolbar > #sidebarbutton {
    transform: translateX(250px);
}
input[type="checkbox"]:checked ~ #sidebar {
    transform: translateX(0);
}

#sidebar {
    background-color: black;
    border: 1px solid #d0d0d0;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 70px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    height: 40%;
    z-index: 100;
    padding: 10px;
}

#personnel-text {
    display: flex;
}

.personnel-title, .personnel-site {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
}
.personnel-title {
    border-right: solid white 1px;
}

/*
* SCP HISTORY TAB
*/

#scp-list ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: decimal;
}
.scp-h-item:hover {
    cursor: pointer;
}

/*
* TERMINAL WINDOW
*/

.terminal {
    height: calc(100vh - 125px);
    margin: 20px;
    /*background-color: rgb(0, 0, 0); /*rgba(255, 0, 0, 0.562)*/
    border: 0.3px solid #818181;
}
#window {
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 14px;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("../../components/images/scplogo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
#window::after {
    display: inline-block;
    vertical-align: 0em;
    background: #ffffff;
    content: " ";
    animation: blink 1105ms steps(1) infinite; /* 940 - old */
}
#window-background {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../components/images/scplogo.png");*/
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: calc(-100vh - -127px);
}

.pause-cursor::after, .pause-cursor-unfocused::after {
    animation-name: none !important;
}
.pause-cursor-unfocused::after {
    background-color: transparent !important;
}
.cursor-barred::after {
    width: 0.05em;
    height: 1.1em;
    margin-left: 0px;
    line-height: 17px;
}
.cursor-block::after {
    width: 0.3em;
    height: 1em;
    margin-left: 0px;
    line-height: 15px;
    border: solid white 1px;
    border-width: thin;
}
.cursor-underscore::after {
    vertical-align: -0.5em !important;
    width: 0.5em;
    height: 0.05em;
    margin-left: 0px;
    line-height: 0px;
}

.prompt-box {
    background-color: rgb(214, 187, 68);
    padding: 1px;
    padding-left: 11px;
    padding-right: 11px;
}

.path-box {
    background-color: rgb(68, 180, 214);
    padding: 1px;
    padding-left: 10px; /* 20px */
}
/*
.path-box::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 12px;
    border-top-width: 12px;
    border-left: 12px solid rgb(68, 180, 214);
    margin-top: -2px;
    margin-left: 1px;
}
*/

.window-controls-container {
    height: 35px !important;
}

#window::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
}
#window::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#window::-webkit-scrollbar-thumb{
    background-color: #808080;
}

/*
* OTHER STUFF
*/
@keyframes blink {
    50% {opacity: 0;}
}

.status-fail {
    color: red;
}
.status-success {
    color: green;
}
.status-warning {
    color: yellow;
}
.status-red-alert {
    background-color: red;
    color: white;
    font-weight: bolder;
}

.title3, .title5 {
    text-align: center;
}
.title3 {
    padding: 5px;
    font-size: 25px;
}
.title5 {
    margin: 0;
    font-size: 15px;
}

/*
* MEDIA QUERY STUFF
*/